@import url(./typography.css);
@import url(./layout.css);

section {
  background: #fff;
}

img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.testimonial img {
  border-radius: 50%;
}

.btn {
  display: inline-block;
  padding: 0.889rem 1.778rem;
  background: #FBD600;
  border-radius: 32px;
}

.underline {
  margin: -10px auto 0;
  height: 10px;
  width: 7.62rem;
  opacity: 0.25;
  border-radius: 28px;
}

@media screen and (min-width: 1024px) {
  .underline {
    margin-left: -8px;
  }
}

.active {
  opacity: 1;
}

.open {
  display: flex;
}

.hide {
  display: none;
}