@import url(./typography.css);
@import url(./layout.css);

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.testimonial img {
  border-radius: 50%;
}

.btn {
  display: inline-block;
  padding: 0.889rem 1.778rem;
  background: #FBD600;
  border-radius: 32px;
}

.underline {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 7.62rem; /* ~137px */
  opacity: 0.25;
  border-radius: 28px;
}

.active {
  opacity: 1;
}

.open {
  display: flex;
}